.task-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
}

.add {
    background-color: royalblue;
    display: flex;
    align-items: center;
    color: white;
    width: 140px;
}

task-item .h3 {
    @media (width < 768px) {
        font-size: 14px !important;
    }
}

.actions {
    display: flex;
    gap: 8px;
}

.actions svg {
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
}
