.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;
    padding: 16px;
    width: 50vw;
}

.task-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.title {
    text-align: center;

    @media (width < 768px) {
        font-size: 24px;
    }
}
